<%- include ../partial/header.ejs %>
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }


    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
    </head>
    <body>
        <table>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Teacher</th>
                <th>Action</th>
            </tr>
            <% for (let i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].id %></td>
                <td><%= data[i].subjectName %></td>
                <td>                
                    <ol>
                        <% for (let j = 0; j < data[i].teacher.length; j++) { %>
                        <li><%= data[i].teacher[j] %></li>
                        <% } %>       
                    </ol>
                    
                </td>
                <td><a href="/subject/<%=data[i].id %>/enrolled-students">Enrolled Students</a></td>              
            </tr>
            <% } %>
        </table>
    </body>


<%- include ../partial/footer.ejs %>