<%- include ../partials/header.ejs %>
<div class="container">
    <h1> Add Subject to Student</h1>
    
    <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">First Name</th>
            <td><%- data.first_name %></td>
          </tr>
          <tr>
            <th scope="row">Last Name</th>
            <td><%- data.last_name %></td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td><%- data.email %></td>
          </tr>
        </tbody>
    </table>

    <h2>Choose Subject</h2>
    <form action="" method="POST">
        <div class="form-group" >
                <label for="sel1">Select list:</label>
                <select class="form-control" id="sel1" name="subject">
                        <% for(let i in data.subjects){ %>
                            <option value="<%-data.subjects[i]%>"><%- data.subjects[i] %></option>
                        <%} %>
                </select>
                <input type="submit" class="btn btn-info" value="Add Subject">
            </div>

    </form>
</div>

</html>